DISCORD_TOKEN=put-token-here
DATABASE_PATH=/app/data/dockerize.sqlite3

MAX_CHANNELS_PER_CONTAINER=10
DEFAULT_CONTAINER_VISIBILITY=private
ALLOW_BOT_INVITES=false

EMOJI_DOCKER=:docker:
EMOJI_SUCCESS=:success:
EMOJI_FAILURE=:failure:
EMOJI_WARNING=:warning:
